<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8" />
		<title>LOOP 2 - MediaWiki {{version}}</title>
		<style media="screen">
			body {
				color: #000;
				background-color: #fff;
				font-family: sans-serif;
				text-align: center;
			}

			h1 {
				font-size: 150%;
			}
		</style>
	</head>
	<body>
		<img src="{{path}}skins/Loop/resources/img/logo_loop.svg" alt="LOOP logo" />

		<div class="error">
		{{#localSettingsExists}}
			<p>LocalSettings.php not readable.</p>
			<p>Please correct file permissions and try again.</p>
		{{/localSettingsExists}}
		{{^localSettingsExists}}
			<br>
			<p>Die Konfigurationsdatei konnte nicht gefunden werden.<br>
			Bitte haben Sie noch etwas Geduld, bis das LOOP fertig konfiguriert wurde.</p>
			<br>
			<p><a href="https://www.eduloop.de">Anleitung & Dokumentation auf eduloop.de</a></p>
		{{/localSettingsExists}}
		</div>
	</body>
</html>
